@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: rgb(255, 255, 255);
  background-color: #593989;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 40px;

}

h1 {
  color: #593989;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: 500;
  margin: 20px;
  font-family: 'Croissant One', cursive;
}

.aplicacion-tareas {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 400px;
}

.tarea-lista-principal {

  width: 600px;
  min-height: 500px;
  background-color: #00a0ea;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 12px 10px 11px 0px #000000;
}

.tar {
  width: 200px;


}

@media only screen and (max-width: 900px) {






  .logo {
    width: 370px;

  }

  .tarea-lista-principal {

    width: 350px;
    min-height: 500px;
    background-color: #00a0ea;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 12px 10px 11px 0px #000000;
  }

}